@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
a {
  text-decoration: none;
}
.logo a {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  display: inline-block;
  padding: 10px 0;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
.menu ul li a {
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  padding: 10px;
  display: inline-block;
  transition: 0.3s;
}
.menu ul li a:hover {
  background-color: #ff900e;
}
.banner-content h1 {
  color: #131313;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
}
.banner-content {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
.banner-content img {
  width: 100%;
  margin-top: 70px;
}
.banner-content p {
  color: #727272;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0;
  line-height: 26px; /* 162.5% */
}
.banner-content a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  background: #ff900e;
  padding: 15px 20px;
  transition: 0.3s;
}
.banner-content a:hover {
  color: #131313;
}
